<div class="text-center">
  <h2 class="mt-5">本当に退会しますか？</h2>
  <div class="mt-5">
    <p>退会する場合は、『退会する』をクリックしてください。</p>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-5"></div>
    <table class="col">
      <tr>
        <td><%= link_to '退会しない', customer_path(current_customer.id), class: 'btn btn-success' %></td>
        <td><%= link_to "退会する", withdraw_customer_path(current_customer.id), method: :patch, class: 'btn btn-danger' %></td>
      </tr>
    </table>
    <div class="col-5"></div>
  </div>
</div>