<div>
  <% @cuisine.cuisine_comments.each do |cuisine_comment| %>
  <div>
    <%= link_to customer_path(cuisine_comment.customer) do %>
    <%= cuisine_comment.customer.name %>
    <% end %>
    からのコメント
  </div>
  <div><%= cuisine_comment.comment %></div>
  <div>
    <% if current_customer == cuisine_comment.customer %>
    <p class="text-right"><%= link_to '削除', cuisine_cuisine_comment_path(cuisine_comment.cuisine_id, cuisine_comment.id), method: :delete, remote: true, class: "color1" %></p>
    <% end %>
  </div>
  <% end %>
</div>