<h3>料理の一覧</h3>
<div>
  <div>
    <div>
      <% @cuisines.each do |cuisine| %>
      <%= attachment_image_tag(cuisine, :cuisine, :fill, 200, 140, format: 'jpeg') %>
      <%= cuisine.cuisine_name %>
      <h4>調理時間</h4>
      <%= cuisine.time %>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @cuisines %>