<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <div class="text-center">
        <h1 class="font">Cooking ingredients について</h1>
        <h5 class="mt-5 mb-5 h3">
          Cooking ingredientsはレシピ共有サイトです。<br>
          自慢のレシピや、料理の中での発見などを<br>
          皆さんのメモがわりにでもご自由にお使いください。<br>
        <h5>
      </div>
    </div>
  </div>
</div>
<div id="container">
  <div id="theTarget">
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>