<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-2"></div>
    <div>
      <h3>ようこそCooking ingredientsへ</h4>
    </div>
    <div class="w-100"></div>
    <div class="col text-center pt-5">
      <h4>
        めんどくさがり屋のあなたでも</br>
        意外にも簡単に自炊が始められる</br>
        レシピが勢揃いしています。
      </h6>
    </div>
  </div>
</div>
<div class="container-fluid pt-5">
  <div class="row">
    <div class="col text-right">
      <%= link_to "登録済みのかた", new_customer_session_path, class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to "登録まだの方", new_customer_registration_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>