/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.font {
  font-family:  'arial black',serif
}

.font2 {
  font-family:  'sans-serif',serif
}

.notice {
  background-color: #66cdaa;
  color: #ffffff;
  text-align: center;
}

.alert {
  background-color: #ff6347;
  color: #ffffff;
  text-align: center;
}

html{
  height: 100%;
}

#container{
   height: 300px;
 }

header {
  width: 100%;
  height: 120px;
  background-color: #dcdcdc;
}

body{
  min-height: 100%;/*高さの最小値*/
  position: relative;/*相対位置*/
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

nav ul:not([class="pagination"]) li {
  font-size: 18px;
  padding: 15px 30px;
  display: inline-block;
}

.wrapper{
  height: 100%;
  padding-bottom: 150px;
}

footer {
  background-color: #dcdcdc;
  color: #FFFFFF;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
}

.title {
  margin-top: 50px;
  margin-left: 400px;
  margin-bottom: 30px;
  font-family:  'arial black',serif
}

.maru {
  border-radius: 50%;  /* 円形にする */
  width: 150px;  /* 縦横を同じ値にする */
  height: 150px;  /* 縦横を同じ値にする */
  border: solid 2px #fffff0;     /* 枠線指定 */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

p {
  overflow-wrap: break-word;
}

.color1 {
  color: #F00;
}

.color2 {
  color: #226614;
}

.logo{
  background-image: image-url('image/logo.png');
  height: 30px;
}


.pagination {
  justify-content: center;
}

.genre {
   background-color: #d2b48c;
}

#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  transition: all 0.4s;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #31a9ee;
  display: block;
  content: '';
  cursor: pointer;
  z-index: 9999;/*最前面*/
}

#nav-open span:before {
  bottom: -8px;
}

#nav-open span:after {
  bottom: -16px;
}


/*中身*/
#nav-content {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

#nav-content.open {
  display: block;
  opacity: 1;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 210px;
  background: #fffafa;
}

/*チェックが入ったら表示する内容*/

.hamburger-top {
  height: 40px;/*×ボタンと被らないように*/
}

.category {
  text-align: center;
  margin-top: 2rem;
}

/*三本線を動かす*/
#nav-open.active span {
  -webkit-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
  background-color: #888;
}

#nav-open.active span:before {
  -webkit-transform: translateY(-8px) rotate(45deg);/*打ち消す*/
  transform: translateY(-8px) rotate(45deg);/*打ち消す*/
  opacity: 0;
}

#nav-open.active span:after {
  -webkit-transform: translateY(-16px) rotate(45deg);
  transform: translateY(-16px) rotate(90deg);
  background-color: #888;
}