<h3>お問い合わせ一覧</h3>
<div>
  <div>
    <table>
      <% @contacts.each do |contacts| %>
      <tr>
        <td><%= contacts.id %></td>
        <td>
          <%= link_to admins_contact_path(contacts) do %>
          <%= contacts.name %> さん
          <% end %>
          </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>