<h3 class="text-center mt-5">お問い合わせ一覧</h3>
    <table align="center" class="mt-5">
      <% @contacts.each do |contacts| %>
      <tr>
        <td><%= contacts.id %></td>
        <td>
          <%= link_to admins_contact_path(contacts) do %>
          <%= contacts.name %> さん
          <% end %>
          </td>
      </tr>
      <% end %>
    </table>