<h3 class="text-center mb-5">検索</h3>

<div class="mb-0">
  <%= form_tag(search_cuisines_path, method: :get) do %>
  <%= select_tag 'range' ,options_for_select([['-選択してください-', ''], ['料理', '1'],['ジャンル', '2']]) %>
　<%= text_field_tag (:word)  %>
　<%= submit_tag "検索" %>
　<% end %>
</div>